.PageLayout {
    display: grid;
    grid-template-rows: 1fr minmax(80vh, auto) 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
        "main"
        "main"
        "footer";
}

.PageLayout>nav {
    grid-area: menu;
}

.PageLayout>main {
    grid-area: main;
}

.PageLayout>footer {
    grid-area: footer;
}

@media (min-width: 768px) {
    .PageLayout {
        grid-template-areas:
            "menu"
            "main"
            "footer";
    }
}